<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to the Home Page of <span data-th-text="${name}"></span></h1>
        <h2>githubRepo Link : <span data-th-text="${githubRepo}"></span></h2>
        <a data-th-href="${instagramLink}">Visit my Instagaram Page</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda, commodi consectetur ea fuga, fugit laboriosam maiores minus molestias optio ratione rem, repudiandae rerum tempora temporibus tenetur vero. Architecto, quis?</p>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
</body>
</html>